<div class="nested-fields synonym">
  <div data-controller="synonym">
    <%= f.label :synonym_name, '類義語' %>
    <%= f.text_field :synonym_name, class: 'form-control' %>
    <%= link_to_remove_association "Remove Synonym", f %>
  </div>
</div>