
<h1>単語一覧</h1>
<%= button_to "単語作成", new_word_path, method: :get %>
<ul>
  <% @words.each do |word| %>
    <li>
      <strong><%= word.title %></strong>
      <p><%= word.content %></p>
      <%= button_to '詳細', word_path(word), method: :get%>
    </li>
  <% end %>
</ul>